@font-face {
  font-family: "Pokemon";
  src: url(../fonts/PokemonSolid.ttf) format("truetype");
}

a, p, h1, h2, h3 {
  color: rgb(215, 215, 0);
  text-shadow: rgb(35, 75, 180) 3px 3px 1px;
  -webkit-text-stroke: 2px rgb(55, 95, 200);
  text-decoration: none;
  border-radius: 100px;
}

body {
  background-image: url(../images/pokedex.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Pokemon", monospace;
  letter-spacing: .25em;
  font-size: 200%;
}

a:hover {
  padding: 20px;
  animation: pulse 1s infinite;
}
.container, h1 {
  box-sizing: border-box;
  padding: 10px;
  width: 98%;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;
}

.pokemon{
  min-width: 375px;
  background-color: rgba(255, 255, 255, .8);
  padding: 10px;
  margin: 40px;
  box-sizing: border-box;
  border: 15px inset;
  border-radius: 100px;
  border-top-color: rgba(255, 0, 0, .5);
  border-left-color: rgba(255, 0, 0, .5);
  border-right-color: rgba(225, 225, 225, .5);
  border-bottom-color: rgba(225, 225, 225, .5);
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}

@keyframes pulse {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .1);
  }
  25% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 255, .1);
  }
  50% {
    text-shadow: 4px 4px 3px rgba(55, 55, 55, .3);
    background-color: rgba(255, 0, 0, .1);
  }
  75% {
    text-shadow: 4px 4px 3px rgba(255, 0, 0, .3);
    background-color: rgba(0, 0, 0, .1);
  }
}
